.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem
}

.Row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  height: 2.5rem;
}

.ComponentRow {
  height: 4rem;
}

.Component,
.Fallback {
  width: 10rem;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}
.Component {
  border: 2px solid greenyellow;
}
.Fallback {
  border: 2px solid gray;
  color: gray;
}

.Code {
  background-color: #1a1a1a;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  white-space: pre-wrap;
}